<%- include('component/header') -%>
	<div class="l-main c-main">
		<div class="container">
			<h2 class="c-heading--primary"><%= title %> Page</h2>
			<ul>
				<li><a href="/users"><i class="fa fa-users" aria-hidden="true"></i>USERS LIST</a></li>
			</ul>
		</div>
	</div>
<%- include('component/footer') -%>
