<%- include('component/header') -%>
	<div class="l-main c-main">
		<div class="container">
			<div class="l-heading">
				<h2 class="c-heading--primary"><%= title %> Page</h2>
			</div>
			<ul>
				<li><a href="/users"><i class="fa fa-users" aria-hidden="true"></i> USERS LIST</a></li>
				<li><a href="/skillsheet"><i class="fa fa-file-text-o" aria-hidden="true"></i> SKILL SHEET LIST</a></li>
			</ul>
		</div>
	</div>
<%- include('component/footer') -%>
