<%- include('component/header') -%>
	<div class="l-main c-main">
		<table class="c-table--user">
			<thead>
				<tr>
					<% for (var key in users[0]) { %>
					<% if (key !== 'password') { %>
					<td><%= key %></td>
					<% } %>
					<% } %>
				</tr>
			</thead>
			<tbody>
				<% for (var i in users) { %>
				<tr>
					<% for (var key in users[i]) { %>
					<% if (key !== 'password') { %>
					<td><%= users[i][key] %></td>
					<% } %>
					<% } %>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
<%- include('component/footer') -%>
