<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link rel='stylesheet' href='/css/common.min.css'>
</head>
<body>
	<header class="l-header c-header">
		<div class="l-header--title">
			<h1 class="c-header--heading-primary"><a href="/">Karte</a></h1>
			<h2 class="c-header--heading-secondary"><%= title %> Page</h2>
		</div>
		<div class="l-header--contents c-header--contents cf">
			<% if (user) { %>
			<a href="/logout" class="c-header--logout">Logout</a>
			<p class="c-header--display-name"><%= user.displayName %></p>
			<% } %>
		</div>
	</header>
