<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link rel='stylesheet' href='/css/common.min.css'>
</head>
<body>
	<header class="l-header c-header">
		<div class="l-header--title">
			<h1 class="c-header--heading-primary">Karte</h1>
		</div>
		<div class="l-header--contents c-header--contents cf">
			<h2 class="c-header--heading-secondary"><%= title %> Page</h2>
			<% if (user) { %>
			<p class="c-header--display-name">USER: <%= user.displayName %></p>
			<a href="/logout">Logout</a>
			<% } %>
		</div>
	</header>
