.c-card {
	&--list {
		margin-left: -10px;
		> li {
			display: inline-block;
			vertical-align: top;
			width: 33.333%;
			padding-left: 10px;
			margin-top: 15px;
		}
	}
	&--user {
		display: block;
		padding: 10px;
		background-color: #fff;
		color: #333;
		position: relative;
		min-height: 120px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		&:visited {
			color: #333;
		}
		&:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}
	}
	&--title {
		overflow: hidden;
	}
	&--username {
		font-size: 14px;
		color: #999;
		margin-left: 5px;
		display: inline-block;
	}
	&--number {
		position: absolute;
		left: 5px;
		top: -5px;
		background-color: #aaa;
		color: #fff;
		font-size: 12px;
		padding: 2px 5px;
	}
	&--avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
		float: left;
		background-size: cover;
		+ .c-card--title {
			padding-left: 10px;
		}
	}
	&--authority {
		font-size: 14px;
	}
	&--email {
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&--profile {
		&-list {
			margin-top: 10px;
			> li {
				+ li {
					margin-top: 5px;
				}
			}
		}
	}
}
