.c-form {
	&--label {
		color: #aaa;
	}
	&--input {
		border-bottom: solid 1px #CCC;
		padding: 25px 10px 5px 5px;
		width: 100%;
		transition: margin-top .3s ease-in-out;
		+ .c-form--label {
			position: absolute;
			transition: all .2s ease-in-out;
			margin-left: 5px;
			top: 20px;
			pointer-events: none;
		}
		&:focus,
		// &:valid,
		&.is-inputted {
			border-bottom: solid 1px #ff5252;
			outline: none;
			+ .c-form--label {
				top: 0;
				color: #ff5252;
				font-size: 14px;
			}
		}
		&-wrap {
			position: relative;
		}
	}
	&--upload {
		text-align: center;
		&-label {
			display: inline-block;
			padding: 5px 10px;
			border-bottom: solid 1px #ff5252;
			color: #ff5252;
			cursor: pointer;
		}
		&-input {
			display: none;
		}
		&-value {
			font-size: 12px;
			display: block;
			width: 100%;
			padding: 5px 10px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: center;
		}
	}
	&--select {
		background-color: #fff;
		border: solid 1px #CCC;
		padding: 5px 20px 5px 10px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLjg6zjgqTjg6Tjg7xfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IgoJIHk9IjBweCIgd2lkdGg9IjEwcHgiIGhlaWdodD0iMTBweCIgdmlld0JveD0iMCAwIDEwIDEwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMCAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWdvbiBzdHlsZT0iZmlsbDojNjY2NjY2OyIgcG9pbnRzPSI5LDIgNSw4LjQgMSwyICIvPgo8L3N2Zz4K) no-repeat center right 5px;
	}
	&--submit {
		background-color: #ff5252;
		color: #fff;
		padding: 10px;
		display: block;
		width: 100%;
	}
	&--error {
		text-align: center;
		color: red;
	}
}
