.c-form {
	&--input {
		background-color: #fff;
		border: solid 1px #CCC;
		padding: 5px 10px;
		width: 100%;
	}
	&--label {

	}
	&--submit {
		background-color: #FF5722;
		color: #fff;
		padding: 10px;
		display: block;
		width: 100%;
	}
	&--error {
		text-align: center;
		color: red;
	}
}
