.c-header {
	display: table;
	width: 100%;
	&--contents {
		text-align: right;
	}
	&--menu {
		&-link {
			display: inline-block;
			font-size: 24px;
			color: #ff5252;
			cursor: pointer;
		}
	}
	&--heading {
		&-primary {
			display: inline-block;
			vertical-align: middle;
		}
		&-primary {
			font-size: 24px;
			+ .c-header--heading-secondary {
				margin-left: 20px;
			}
		}
	}
	&--display {
		&-name {
			display: inline-block;
		}
	}
	&--logout {
		display: inline-block;
	}
}
