.c-header {
	background-color: rgba(255,255,255,0.7);
	&--contents {
		text-align: right;
	}

	&--heading {
		&-primary {
			font-size: 20px;
		}
		&-secondary {
			font-size: 16px;
			margin-top: 5px;
			font-weight: normal;
		}
	}
	&--display {
		&-name {
			margin-top: 5px;
		}
	}
	&--logout {
		display: inline-block;
		font-size: 12px
	}
}
