.c-header {
	display: table;
	width: 100%;
	&--contents {
		text-align: right;
	}
	&--menu {
		&-link {
			display: inline-block;
			font-size: 24px;
			color: $primary-color;
			cursor: pointer;
		}
	}
	&--heading {
		&-primary {
			display: inline-block;
			vertical-align: middle;
			font-size: 24px;
			+ .c-header--heading-secondary {
				margin-left: 20px;
			}
		}
	}
	&--display {
		&-name {
			display: inline-block;
			font-size: 12px;
			vertical-align: middle;
		}
	}
	&--logout {
		display: inline-block;
		vertical-align: middle;
	}
}
