.c-history {
	font-size: 14px;
	counter-reset: history-number;
	&--title {
		text-align: center;
		background-color: #ccc;
	}
	&--number:before {
		counter-increment: history-number;
		content: counter(history-number);
	}
	&--text,
	&--textarea,
	&--input {
		width: 100%;
		&.text-center {
			text-align: center;
		}
	}
	&--update {
		font-size: 12px;
	}
}
