.c-history {
	font-size: 14px;
	counter-reset: history-number;
	&--title {
		text-align: center;
		background-color: $bg-primary-color;
		+ .c-history--title {
			border-left: solid 1px #eee;
		}
	}
	&--number:before {
		display: block;
		counter-increment: history-number;
		content: counter(history-number);
	}
	&--text,
	&--textarea,
	&--input {
		&.text-center {
			text-align: center;
		}
		&.text-right {
			text-align: right;
		}
	}
	&--update {
		font-size: 12px;
		> input {
			text-align: right;
		}
	}
}
