.c-table {
	&--user {
		background-color: #fff;
		width: 100%;
		border-collapse: collapse;
		border-bottom: solid 1px #e0e0e0;
		thead {
			tr {
				background-color: #666;
				color: #fff;
			}
		}
		tbody {
			tr:nth-child(2n) {
				background-color: #f0f0f0;
			}
		}
		th,td {
			padding: 10px;
			text-align: left;
		}
	}
}
