.l-form {
	&--add {
		width: 100%;
	}
	&--login {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
	}
	&--row {
		display: table;
		width: 100%;
		+ .l-form--row {
			margin-top: 20px;
		}
		&-title,
		&-input {
			display: table-cell;
			vertical-align: middle;
		}
		&-title {
			text-align: center;
			line-height: 1.2;
			width: 30%;
		}
		+ .l-form--error {
			margin-top: 20px;
		}
	}
	&--table {
		display: table;
	}
	&--column {
		display: table-cell;
		vertical-align: top;
		padding-left: 10px;
		padding-right: 10px;
	}
	&--submit {
		&-wrap {
		}
	}
	&--error {
		+ .l-form--row {
			margin-top: 20px;
		}
	}
}
